.sports_club{
    display: flex;
    /* margin-bottom: 20px; */
    margin-left: 13.3rem;
    margin-bottom: 5rem;
    width: 47rem;
    align-items: flex-start;
    justify-content: space-between;
}

.sports_club button{
    width: initial;
    background-color: #ffffff;
    border: none;
    color:#F31237;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 2.9rem;
    cursor: pointer;
    /* or 120% */
    outline: none;
    /* text-decoration-line: underline; */
}

.SportsEvents{
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.4rem;

    color: #000000;
}

.sports_availability{
    background: #EDFFF9;
    padding: 0px;
    margin-bottom: initial;
    border-radius: .6rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    /* identical to box height */
    padding: .5rem;
    text-align: justify;

    color: #00AB6F;

}

@media screen and (max-width: 600px){
    .sports_club{
        position: relative;
        left: -17%;
        margin-bottom: 9.2rem;
    }
}

@media screen and (max-width: 380px){
    .sports_club{
        left: -36%;
    }
}